* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
Images and Info
*/

.container {
    display: flex;
    width: 65%;
    align-items: center;
    margin: 40px auto 40px;
    flex-wrap: wrap;

}

.box {
    position: relative;
    width: calc(100% / 3 - 20px);
    margin: 10px 10px 10px;
}

.mainimg {
    width: 100%;

}

.altimg {
    width: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
}

.altimg:hover {
    opacity: 1;
}

.mainimg:hover {
    opacity: 0;
    background-color: transparent;
}

p {
    font-size: 10px;
}

.red {
    color: red;
    font-weight: bold;
    display: inline;
}

.lined {
    display: inline;
    text-decoration: line-through;
}

.heart {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    padding: 3px;
}

.heart:hover {
    color: red;
}

.discount {
    background-color: red;
    color: white;
    width: 15%;
    text-align: center;
    font-size: smaller;
    position: absolute;
    bottom: 28%;

}

.sustainable {
    background-color: green;
    color: white;
    width: 35%;
    text-align: center;
    font-size: smaller;
    position: absolute;
    left: 17%;
    bottom: 28%;

}

.sustainable2 {
    background-color: green;
    color: white;
    width: 35%;
    text-align: center;
    font-size: smaller;
    position: absolute;
    bottom: 28%;
}

/*
/Images and Info
*/