* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    height: 550px;
    width: 50%;
    border: 2px solid black;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px auto 40px;
    flex-wrap: wrap;

}

.box {
    height: 250px;
    width: 175px;
    margin: 10px 10px 10px;
}

img {
    width: 100%;
}